<!DOCTYPE html>
<html>
<head>
  <title>Lms</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "lms/application", media: "all" %>
  <%= javascript_include_tag "lms/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
